JIRA_CLIENT_ID=zt5AcnMAsrjfebAc89db4fYuqUQPZTjx
JIRA_CLIENT_SECRET=ATOAHNC9pAfvZo5spMU9tPOdrGUX00OYN1OxECS0O19hgAVmXu0vQYmLdcyThYNPAbFtE6EBB693
JIRA_REDIRECT_URI=http://localhost:3001/auth/callback
PORT=3001
